---
import Layout from '../layouts/Layout.astro';
interface Project{
	tittle: string
	description: string
}

const { default: meData } = await import('../assets/me.json');
const projects = await Astro.glob<Project>('../pages/projects/*.md')
console.log(projects)

---

<Layout>
    <header>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#experiencia">Experiencia</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="inicio" class="principal">
        <h1 class="nombre">{meData.nombre}</h1>
        <p class="profesion">{meData.profesion}</p>
        <p class="bio">{meData.bio}</p> 
    </section>
    
    <section id="proyectos">
        <h2>Proyectos</h2>
        {projects.map((project) => (
            <a href={project.url} class="proyecto-link">
                <article class="proyecto"> 
                    <h3>{project.frontmatter.tittle}</h3>
                    <p>{project.frontmatter.description}</p>
                </article>
            </a>
        ))}
    </section>
    
    <section id="experiencia">
        <h2>Experiencia</h2>
        {meData.experiencia.map((exp)=> (
            <article class="experiencia">
                <h3>{exp.nombre}</h3>
                <p>{exp.descripcion}</p>
                <p>{exp.fecha}</p>
            </article>
        ))}
    </section>
    
    <section id="habilidades">
        <h2>Habilidades</h2>
        <div class="envoltura-habilidad">
            {meData.habilidades.map((habilidad)=> (
                <article class="habilidad">
                    <p>{habilidad}</p>
                </article>
            ))}
        </div> 
    </section>
    
    <footer id="contacto">
        <h2>Contacto</h2>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/ruthmeira__" class="icono" target="_blank">📷 Instagram</a>
            <a href="mailto:ruthfaouzimeira@gmail.com" class="icono">📧 Gmail</a>
        </div>
    </footer>
</Layout>