---
import Layout from '../layouts/Layout.astro';

const { default: meData } = await import('../assets/me.json');

---

<Layout>
	<section>
		<h1>{meData.nombre}</h1>
		<p>{meData.profesion}</p>
		<p>{meData.bio}</p>
	</section>
	
	<section>
		<h2>Experiencia</h2>
		<p>{meData.experiencia[0].nombre}</p>
		<p>{meData.experiencia[0].descripcion}</p>
		<p>{meData.experiencia[0].fecha}</p>
	</section>
	
	<section>
		<h2>Habilidades</h2>
		{meData.habilidades.map((habilidad)=> (
			<p>{habilidad}</p>
		))}
	</section>
	
</Layout>
 